.site-header {
	background-color: var(--grey-9);
	color: white;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 3em;

	& .bg-k {
		position: absolute;
		right: 0;
		height: 100%;
		aspect-ratio: 1;
		opacity: 0.15;
	}

	& .title {
		display: flex;
		align-items: center;
		font-size: 1.5em;
		gap: 0.5em;
	}

	& .search-bar {
		display: flex;
		align-items: center;
		gap: 0.5em;
		padding: 0.5em 1em;
		background-color: var(--grey-2);
		border: 1px solid var(--grey-3);
		border-radius: 0.25em;
		width: 450px;
		max-width: 40%;
		z-index: 1;

		& input {
			border: none;
			background: transparent;
			outline: none;
			font-family: inherit;
		}

		&:focus-within {
			border-color: var(--primary);
		}
	}
}
